@use "../abstracts" as *;

.about {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    @media screen and (max-height: 30em) and (max-width: 62em) {
        min-height: initial;
        gap: 3rem;
        padding: 2rem 0;
    }
    &__title {
        color: rgb(26, 26, 26);
        font-weight: 500;
        font-family: $ff-secondary;
        line-height: 1.2;
        font-size: clamp(1.5rem, 4vw, 2.5rem);
        text-align: center;
        @media screen and (max-height: 30em) and (max-width: 62em) {
            font-size: clamp(1.5rem, 5vw, 2rem);
        }
    }
    &__img-wrapper {
        max-width: 60rem;
        overflow: hidden;
        border-radius: 0.4rem;
        justify-self: center;
    }
    &__img {
        transition: transform 0.7s cubic-bezier(0.3, 1, 0.8, 1);
    }
    &__img:hover {
        transform: scale(1.025);
    }
    &__btn {
        align-self: baseline;
        justify-self: center;
        letter-spacing: 0.1rem;
        position: relative;
        margin-top: 3rem;
        width: fit-content;
        padding: 0.7rem 1.5rem;
        @media screen and (max-height: 30em) and (max-width: 62em) {
            margin: 0;
        }
        &::before {
            position: absolute;
            top: 0;
            left: 10%;
            height: 50px;
            width: 50px;
            content: '';
            background: $color-red;
            border-radius: 50%;
            transition: transform 0.9s cubic-bezier(0.3, 1, 0.8, 1);
        }
        &:hover::before {
            transform: scale(1.2)
        }
        span {
            position: relative;
            mix-blend-mode: hard-light;
        }
        &:hover span {
            color: black;
        }
    }
}