@use "../abstracts" as *;

.footer {
  display: grid;
  grid-template-rows: 3fr 1fr;
  min-height: 100vh;
  @media screen and (max-height: 30em) and (max-width: 62em) {
    min-height: initial;
    padding: 2rem 0;
    gap: 2rem;
  }
  @include breakpoint(large) {
    grid-template-rows: 2fr 1fr;
  }
  &__top {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    gap: 4rem;
    border-bottom: solid 1px rgba($color: #a3a3a3, $alpha: 0.6);
    @media screen and (max-height: 30em) and (max-width: 62em) {
      padding-bottom: 2rem;
    }
    @include breakpoint(large) {
      grid-template-columns: 1fr 1fr;
      gap: 0;
    }
  }
  &__top-title {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.1;
  }
  &__top-subtitle {
    font-size: 2.5rem;
    font-weight: 100;
    color: #707070;
    margin-bottom: 1rem;
  }
  &__top-right {
    font-weight: 200;
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @include breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }
    .socials {
      display: flex;
      gap: 2rem;
      color: #707070;
      font-size: 1.4rem;
      @include breakpoint(medium) {
        font-size: 1.5rem;
      }
      i {
        transition: color 0.3s ease-in-out;
      }
      i:hover {
        color: $color-red;
      }
    }
  }
}
