@use "../abstracts" as *;

//HAMBURGER MENU

.hamburger {
  border: none;
  background: none;
  justify-self: end;
  align-self: center;
  width: 24px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  z-index: 1000;
  @include breakpoint(medium) {
    width: 28px;
    height: 24px;
  }
  @include breakpoint(large) {
    display: none;
  }
  &:focus-visible {
    outline-offset: .4625rem;
    outline: 0.25rem dotted $color-black;
  }
  &:hover &__bar {
    background: $color-red;
  }
  &__bar {
    background: $color-black;
    width: 100%;
    height: 2px;
    transition: transform 0.6s cubic-bezier(0.175, 0.65, 0.72, 1.675);
    border-radius: .4625rem;
  }
  &__bar:nth-child(2) {
    width: 50%;
    transform-origin: right;
    transition: transform .33s cubic-bezier(.54,-.81,.57,.57);
  }
  &__bar:nth-child(4) {
    width: 50%;
    align-self: flex-end;
    transform-origin: left;
  }
  &.active {
    transform: rotate(-45deg);
  }
  &.active &__bar:nth-child(2) {
    transform: rotate(-90deg) translateX(4px);
  }



  &.active &__bar:nth-child(4) {
    transform: rotate(-90deg) translateX(-4px);
  }
}
