@use "../abstracts" as *;

.hero {
  display: grid;
  grid-template-rows: 6fr 1fr;
  align-items: center;
  background: #000000;
  background: linear-gradient(250deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url(/src/img/girlmobile.webp);
  background-position-x: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-height: 30em) and (max-width: 62em) {
    grid-template-rows: 4fr 1fr;
  }

  @include breakpoint(large) {
    background: linear-gradient(250deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
      url(/src/img/girldesktop.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    display: flex;
    flex-direction: column;
    color: white;
  }

  &__title {
    padding-right: 3rem;
    font-size: clamp(2.5rem, 5vw, 5rem);
    line-height: 1.1;
  }

  &__text {
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: rgb(221, 221, 221);
  }

  &__btn {
    position: relative;
    width: fit-content;
    padding: 0.7rem 1.5rem;
    margin-top: 3rem;
    border: solid 1px $color-red;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
    letter-spacing: 0.1rem;
    color: white;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      background: $color-red;
      transform: translate3d(-90%, 0, 0);
      transition: transform 1s cubic-bezier(0.3, 1, 0.8, 1);
    }

    &:hover::before {
      transform: translate3d(90%, 0, 0);
    }

    &:hover {
      border: solid 1px $color-red;
    }
  }

  .scroll-btn {
    align-self: flex-start;
    justify-self: center;
    width: fit-content;
    height: fit-content;
    border: none;
    background: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    animation: scroll 3s cubic-bezier(0.3, 1, 0.8, 1) infinite;

    @keyframes scroll {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(40%);
      }

      100% {
        transform: translateY(0);
      }
    }
  }
}
