@use "../abstracts" as *;


.hero {
    display: flex;
    align-items: center;
    background: #000000;
    background-image:  url(/src/img/girl640w.webp); /* fallback */
    background: linear-gradient(250deg,rgba(0,0,0,.1),rgba(0,0,0,.8)), url(/src/img/girl640w.webp);
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint(large) {
        background-image:  url(/src/img/girl.webp); /* fallback */
        background: linear-gradient(250deg,rgba(0,0,0,.1),rgba(0,0,0,.8)), url(/src/img/girl.webp);
        background-position-x: 30%;
        background-repeat: no-repeat;
      }
    &__content {
        display: flex;
        flex-direction: column;
        color: white;
    }
    &__img-container {
        width: fit-content;
        margin: 0 auto;
    }
    &__btn {
        letter-spacing: 0.1rem;
        border: solid 1px $color-red;
        overflow: hidden;
        position: relative;
        margin-top: 3rem;
        width: fit-content;
        color: white;
        padding: 0.7rem 1.5rem;
        background: rgba(0,0,0,.1);
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            content: '';
            background: $color-red;
            transform: translate3d(-90%,0,0);
            transition: transform 0.8s cubic-bezier(0.3, 1, 0.8, 1);
        }
        &:hover::before {
            transform: translate3d(90%,0,0);
        }
        &:hover {
            border: solid 1px $color-red;
        }
        span {
            position: relative;
            mix-blend-mode: hard-light;
        }
    }
    &__title {
        font-size: clamp(2.5rem, 5vw, 5rem);
        font-weight: 500;
        line-height: 1.1;
    }
    &__text {
        font-size: clamp(1rem, 2vw, 1.2rem);
        color: rgb(221, 221, 221);
    }
}