@use "../abstracts" as *;

a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: color $transition-primary;

  &:focus-visible {
    outline-offset: .4625rem;
    outline: 0.25rem dotted $color-black;
  }
}
