@use "../abstracts" as *;

.nav {
  display: flex;
  align-items: center;
  &__container {
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  &__menu {
    transform: translateX((calc(100vw)));
    color: $color-red;
    font-family: $ff-secondary;
    font-size: calc(3rem + 2vw);
    font-weight: 700;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    opacity: 0.7;
    transition: opacity 0.4s ease-in-out, transform 1s ease-in-out;
    @media screen and (max-height: 32em) {
      font-size: calc(1.8rem + 2vw);
      gap: 1rem;
    }
  }
  &__item {
    position: relative;
    transition: color $transition-primary;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0;
      background: $color-red;
      left: 0;
      top: 0;
      transition: width $transition-primary;
    }
    &:hover::before {
      width: 100%;
    }
    &:hover {
      color: $color-white;
    }
  }
}
