@use "../abstracts" as *;

.nav {
  display: flex;
  align-items: center;
  @media screen and (max-height: 30em) and (max-width: 62em) {
    padding: 1rem 0;
}
  &__container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    @media screen and (max-height: 32em) {
      height: initial;
    }
  }
  &__menu {
    opacity: 0;
    z-index: 100;
    background: $color-white;
    font-family: $ff-primary;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out, left 0.4s ease-in-out;
    &.active {
        left: 0;
        opacity: 1 !important;
    }
    @include breakpoint(large) {
      background: none;
      position: initial;
      transform: none;
      opacity: 1;
      flex-direction: row;
      height: fit-content;
      align-self: center;
      transition: none;
      width: fit-content;
      justify-self: flex-end;
    }
  }
  &__links {
    font-weight: 200;
    font-size: calc(2rem + 1vw);
    text-align: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    gap: 0.7rem;
    @media screen and (max-height: 30em) and (max-width: 62em) {
      font-size: calc(0.8rem + 2vw) !important;
    }
    @include breakpoint(small) {
      font-size: calc(2.5rem + 1vw);
    }
    @include breakpoint(large) {
      transform: none;
      transition: none;
      color: black;
      flex-direction: row;
      gap: 3.5rem;
      font-size: 1.2rem;
    }
    li {
      padding: 0.4rem 0;
      color: black;
      @media screen and (max-height: 30em) and (max-width: 62em) {
        padding: 0.2rem;
      }
      a {
        position: relative;
        overflow: hidden;
        text-decoration: none;
        color: black;
        &::after {
          content: "";
          background: rgba($color-red, 0.25);
          position: absolute;
          left: 12px;
          bottom: -6px;
          width: calc(100% - 8px);
          height: calc(100% - 20px);
          z-index: -1;
          transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
          @include breakpoint(large) {
            width: calc(100% - 8px);
            height: calc(100% - 8px);
          }
        }
        &:hover:after {
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 100%;
        }
      }
    }

  }
  .socials {
    margin-bottom: 1rem;
    display: flex;
    gap: 1.5rem;
    font-size: 1.7rem;
    justify-self: center;
    align-self: center;
    @media screen and (max-height: 30em) and (max-width: 62em) {
      font-size: 1.5rem;
    }
    @include breakpoint(large) {
      display: none;
    }
    li:hover {
      color: $color-red;
    }
  }
}
