@use "../abstracts" as *;

.projects {
    background: black;
    color: white;
    padding: 3rem 0;
    .s-container {
        display: grid;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-height: 70rem;
        justify-content: center;
    }
    &__card {
        position: relative;
        font-size: 14px;
        flex: 1;
        max-width: 30rem;
        max-height: 20rem;
        padding: 1rem;
        @include breakpoint(large) {
            max-width: 50rem;
        }
        &-title {
            font-size: 22px;
            font-weight: 700;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: inherit;
        }
        &:nth-child(1) {
            background: url(/src/img/mini.jpg);
            background-size: cover;
            @include breakpoint(large) {
                background-position: -50px;
            }
        }
        &:nth-child(2) {
            background: url(/src/img/hotel.jpg);
            background-size: cover;
        }
        &:nth-child(3) {
            background: url(/src/img/more.jpg);
            background-size: cover;
        }
    }
    &__card-categories {
        width: fit-content;
        margin: 0 auto;
        span {
            background: white;
            color: black;
            padding: 0.5rem;
            width: 100%;
        }
    }
    .section__top {
        &::before {
            background: white;
        }
      }
}