//COLORS
$color-red: #f94f4f;
$color-black: #000000;
$color-bg-black: #191921;
$color-white: #ffffff;

//TYPOGRAPHY
$fs-primary: 18px;
$ff-primary: "Commissioner", sans-serif;
$ff-secondary: cairo, sans-serif;
$fw-primary: 400;
$fw-secondary: 800;

//TRANSITIONS

$transition-primary: 0.4s ease-in-out;

//BREAKPOINTS

$breakpoints: (
  xsmall: 22em,
  small: 36em,
  medium: 48em,
  large: 62em,
  xlarge: 75em,
  xxlarge: 93em,
);
