@use "../abstracts" as *;

//CONTAINERS

.s-container {
  width: clamp(16rem, 85vw, 80rem);
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(large) {
    width: clamp(16rem, 90vw, 95rem);
  }
}

.header {
  display: grid;
  grid-template-rows: 0.5fr 5fr;
  min-height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.section__top {
  font-size: clamp(1rem, 5vw, 1.2rem);
  position: relative;
  &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -2.25rem;
      width: 1.5rem;
      height: 0.0625rem;
      background: black;
      transform: translateY(-50%);
  }
}
