@use "../abstracts" as *;

//CONTAINERS

.s-container {
  width: clamp(16rem, 80vw, 80rem);
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(large) {
    width: clamp(16rem, 85vw, 90rem);
  }
}

.header {
  display: grid;
  grid-template-rows: 0.5fr 2fr;
  min-height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.active {
  transform: translateY(0%);
  opacity: 1 !important;
}
