@use "../abstracts" as *;

//CONTAINERS

.s-container {
  width: clamp(16rem, 85vw, 80rem);
  margin-left: auto;
  margin-right: auto;
}
.m-container {
  width: clamp(16rem, 85vw, 95rem);
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: grid;
  grid-template-rows: 0.5fr 5fr;
  min-height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.section__top {
  position: relative;
  font-weight: 200;
  font-size: clamp(1rem, 5vw, 1.4rem);
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2.25rem;
    width: 1.5rem;
    height: 0.0625rem;
    background: black;
    transform: translateY(-50%);
  }
}

.fixed-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 3.5rem;
  width: 3.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: $color-red;
  font-size: 2.3rem;
  color: white;
  z-index: 100;
  i {
    transition: transform 0.5s ease-in-out;
  }
  i:hover {
    transform: scale(1.1);
  }
}
